body{
    font-size:22px;
}

.right_shadow{
    box-shadow: 0.15rem 0 1.75rem 0 rgba(31, 45, 65, 0.15);
}

.topnav{    
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;

    svg{
        height:22px;
        color: rgba(0, 0, 0, 0.5);
    }
    
    .dropdown-user{
        img{
            border-radius: 50px;
            max-width: 50%;
        }
}
}



#layout{
    display: flex;

    .layout_left{
        width: 15rem;
        height: 100vh;
        z-index: 8;

        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        background-color: #0d5db8;
        .side_nav{
          
            color: #1f2d41;
            padding-top: 6.5rem;

            .side_menu_heading{
                padding: 1.75rem 1rem 0.75rem;
                font-size: 0.7rem;
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 0.05em;
                color: #a2acba;
                display: none;
            }

            a.nav_link{
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                line-height: normal;
                padding-top: 0.75rem;
                padding-bottom: 0.75rem;
                position: relative;
                color: #fff;
                padding: 0.5rem 1rem;
                font-size:0.9rem;
                font-weight: 600;

                &:hover{
                    cursor: pointer;
                    color: #efefef;
                }

                .nav_link_icon {
                    margin-right: 0.5rem;
                    color: #fff;
                    width: 20px;
                }
            }
        }
        .sidenav_menu{
            overflow-y: auto;
        }

        .sidenav_footer {
            background-color: #f4f4f5;
            display: flex;
            flex-shrink: 0;
            -webkit-box-align: center;
            align-items: center;
            padding-left: 0.75rem;
            padding-right: 0.75rem;
            height: 5rem;
            position: absolute;
            bottom: 0px;
            width: 100%;
            background: #0d5db8;
            color: #fff;
            border-top: 1px solid #fff;

            .sidenav_footer_content {
                font-size: 0.9rem;
            }

            .sidenav_footer_subtitle {
                font-size: 0.75rem;
            }

            .sidenav_footer_title {
                font-weight: 500;
            }
        }
    }


    .layout_right{
        padding-left: 15rem;
        top: 3.625rem;
        width: 100%;
        height: 100vh;
        background: #f7f7f7;
        .bg-gradient-primary-to-secondary {
            background-color: #0d5db8;
            background-image: linear-gradient(135deg, #0061f2 0%, rgba(105, 0, 199, 0.8) 100%);
        }

        .page_header_content{
            padding-top: 7rem;
            padding-bottom: 5rem;

            .page_header_title{
                color: #fff;
                font-size:2rem;
            }
            .page_header_subtitle {
                color: rgba(255, 255, 255, 0.5);
                font-size:1.1rem;
            }
        }
    }

}
.margin_top{
    margin-top:-3%;

}

.content_boxs {
    // background: #f7f7f7;
    margin-top:6.5%
}

.table_shadow{
    box-shadow: 0 0.15rem 1.75rem 0 rgba(31, 45, 65, 0.15);
}
.card{
.card-header{
    color: #0d5db8;
    font-weight: 500;
    font-size: 1.1rem;
}
}
h5.card-title{
    font-size: 1.2rem;
    color: #1d1e20;
}


.datatable {
    font-size: 0.85rem;
}

.form-control-solid {
    background-color: #ecf0f6;
    border-color: #ecf0f6;
}
.navbar-light .navbar-brand{
    font-weight: 600;
}

.form_example{
    font-size: 0.85rem; 
}

#dataTable_wrapper{
    .custom-select{
        width: auto;
        display: inline-block;
    }
    .dataTables_filter {
        text-align: right;
    }
    #dataTable_paginate{
        text-align: right;
        float: right;
    }
    .table td, .table th{
        padding: .6rem;
    }   
}

.form_details{

    .form-group{
            display: block;
            width:19%;
            position: relative;
        .label_input{
                font-size: 0.9rem;
                justify-content: left;
                font-weight: 500;
        }
        select, input{
            width:80%;
            height: calc(1.5em + .5rem + 2px);
            font-size: 0.8rem;
        }
    }

}


// .badge-secondary {
//     color: #fff;
//     background-color: #6900c7;
// }
.custom_links{
    margin-top: 5px;

    a{
        font-size: 0.8rem;
        color:#007bff;
        text-decoration: none;
        margin-right: 8px;
        font-weight: 500;
        &:hover{
            text-decoration: underline;
        }
    }
}


 span.error {
    position: absolute;
    line-height: 1.2;
    margin-bottom: 15.1%;
    bottom: 0;
    color: #fff;
    font-size: 0.7rem;
    border: 1px solid #d9481b;
    padding: 8px 12px;
    left: 0px;
    background-color: #d9481b;
    max-width: 100%;
}
span.error:before {
    position: absolute;
    border: 9px solid transparent;
    border-top: 9px solid #d9481b;
    content: "";
    left: 20px;
    bottom: -18px;
}


.custom-action-btn{
    background-color: #0d5db8;
    border-color: #0d5db8;
    font-size: 0.9rem!important;
}

.copart-img {
    height: 40px;
}
 
#custom-form{
    
        background: #F9F9F9;
        // padding: 25px;
        // margin: 150px 0;
        // box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
      
       h3 {
        display: block;
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 10px;
      }
      
       h4 {
        margin: 5px 0 15px;
        display: block;
        font-size: 13px;
        font-weight: 400;
      }
      
      fieldset {
        border: medium none !important;
        margin: 0 0 10px;
        min-width: 100%;
        padding: 0;
        width: 100%;
      }
      
       input,
       textarea {
        width: 100%;
        border: 1px solid #ccc;
        background: #FFF;
        margin: 0 0 5px;
        padding: 5px 9px;
        font-size: 1rem;
      }
      
       input:hover,
       textarea:hover {
        -webkit-transition: border-color 0.3s ease-in-out;
        -moz-transition: border-color 0.3s ease-in-out;
        transition: border-color 0.3s ease-in-out;
        border: 1px solid #aaa;
      }
      
       textarea {
        height: 100px;
        max-width: 100%;
        resize: none;
      }
      
       button[type="submit"] {
        cursor: pointer;
        width: 100%;
        border: none;
        background: #4CAF50;
        color: #FFF;
        margin: 0 0 5px;
        padding: 10px;
        font-size: 15px;
      }
      
       button[type="submit"]:hover {
        background: #43A047;
        -webkit-transition: background 0.3s ease-in-out;
        -moz-transition: background 0.3s ease-in-out;
        transition: background-color 0.3s ease-in-out;
      }
      
       button[type="submit"]:active {
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
      }
      
      .copyright {
        text-align: center;
      }
      
       input:focus,
       textarea:focus {
        outline: 0;
        border: 1px solid #aaa;
      }
      
      ::-webkit-input-placeholder {
        color: #888;
      }
      
      :-moz-placeholder {
        color: #888;
      }
      
      ::-moz-placeholder {
        color: #888;
      }
      
      :-ms-input-placeholder {
        color: #888;
      }
}


.page-item.active .page-link{
    background-color: #0d5db8;
    border-color: #0d5db8;
}
.top_link{
    text-align: right;
}
// .nav_link.active{
//     background: #fff;
//     color: #333;
// }




///////////////////////////// login page css 

.login{
    background-color: #0d5db8;
    font-size: 1rem;
    height: 100vh;

    .login-heading {
        font-size: 1.1rem;
        text-align: center;
        margin: 15px 0px 8px;
        color: #323f52;
    }

    .login-logo{
            height: 40px;
            display: block;
            margin: 0 auto;
            margin-top: 15px;
            margin-bottom: 10px;
    }
    .loginButton{
        background-color: #0d5db8;
        border-color: #0d5db8;
        opacity: 0.9;
    }
}

